<% page_title "Administration" %>

<div id = "item-list">
	<h1>Application Dates</h1>
	<p><em>Don't modify date names, as this could cause issues with the application.</em></p>
	<table>
  		<tbody>
			<tr>
    			<th>Name</th>
    			<th>Start date</th>
    			<th>End date</th>
				<th>Office Closed?</th>
  			</tr>
		</tbody>
		<% for holiday in @holidays %>
			<tbody>
				<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    				<td><%=h holiday.name %></td>
    				<td><%=h holiday.start_date %></td>
    				<td><%=h holiday.end_date %></td>
					<td><% if holiday.office_closed %>Yes<% end %></td>
    				<td><%= link_to 'Show', holiday %></td>
    				<td><%= link_to 'Edit', edit_holiday_path(holiday) %></td>
    				<td><%= link_to 'Destroy', holiday, :confirm => 'Are you sure?', :method => :delete %></td>
  				</tr>
			</tbody>
		<% end %>
	</table>

<br />

<%= link_to 'New holiday', new_holiday_path %>

</div>