<h1>New holiday</h1>

<% form_for(@holiday) do |f| %>
<% if @holiday.errors.any? %>
	<div id="error_explanation">
 		<h2><%= pluralize(@holiday.errors.count, "error") %> prevented this holiday from being saved:</h2>
 		<ul>
 			<% @holiday.errors.full_messages.each do |msg| %>
   				<li><%= msg %></li>
 			<% end %>
 		</ul>
	</div>
<% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </p>
  <p>
    <%= f.label :office_closed %><br />
    <%= f.check_box :office_closed %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', holidays_path %>