<p>
  <b>Name:</b>
  <%=h @holiday.name %>
</p>

<p>
  <b>Start date:</b>
  <%=h @holiday.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @holiday.end_date %>
</p>
<p>
  <b>Office Closed?</b>
  <%=h @holiday.office_closed %>
</p>

<%= link_to 'Edit', edit_holiday_path(@holiday) %> |
<%= link_to 'Back', holidays_path %>