<% page_title "Laser Cutter Registration" %>  


<div id = "student-form">

<% form_for([@user, @laser_agreement]) do |f| %>
	<% if @laser_agreement.errors.any? %>
   		<div id="error_explanation">
     		<h2><%= pluralize(@laser_agreement.errors.count, "error") %> prevented you from registering:</h2>
     		<ul>
     			<% @laser_agreement.errors.full_messages.each do |msg| %>
       				<li><%= msg %></li>
     			<% end %>
     		</ul>
   		</div>
 	<% end %>
 	<p><% @MasterQuestions %></p>
	<p>
		In order to be able to use the School laser cutters, School of Architecture students must first register by viewing the Yale Health and Safety instructional video at the link below, correctly answering the corresponding quiz questions, and agreeing to the terms and conditions.  Failure to do any of the above will prohibit you from registering and using the laser cutters.
	</p>
	<p>
		Please note, using the laser cutters also requires completing the <%= link_to 'Printing Registration Form', new_user_print_agreement_path(@user) %> if you haven't already done so.
	</p>
	<div class = "divider"></div>
	<fieldset>
		<legend>Laser Safety Video</legend>
		<p>Please view the Yale Health and Safety laser cutter instructional video here:</p>
		<p><%= link_to "Working Safely with Embedded Lasers", "http://www.yale.edu/ehs/onlinetraining/EmbeddedLaser/EmbeddedLaser.htm", :popup => true %></p>
		<p>Then answer the following True/False questions.  <strong>You must answer the questions correctly to register</strong>.</p>
		<ol>
			<% if(@MasterQuestions[0]) %>
		  	<li>
				Class 4 lasers (the type of laser in our laser cutters) are high-powered lasers with the capacity to cause skin burns and permanent eye damage.   <%= f.select :question1, [true, false], {:include_blank => true} %>
			</li>
			<% end
			 if(@MasterQuestions[1]) %>
			<li>
				The laser beams in the laser cutters can cause fires if the speed setting is too low or the power setting is too high.   <%= f.select :question2, [true, false], {:include_blank => true} %>
			</li>
			<% end
			 if(@MasterQuestions[2]) %>
			<li>
				Tampering with the safety interlocks on the laser cutters is permitted when cutting larger materials that do not fully fit on the laser bed.   <%= f.select :question3, [true, false], {:include_blank => true} %>
			</li>
			<% end
			 if(@MasterQuestions[3]) %>
			<li>
				Fire extinguishers are located outside the entry door to each laser cutter room.  <%= f.select :question4, [true, false], {:include_blank => true} %>
			</li>
			<% end
			 if(@MasterQuestions[4]) %>
			<li>
				Toxic fumes are not a concern when laser cutting, as none of the material permitted in the laser cutters releases fumes when cut.  <%= f.select :question5, [true, false], {:include_blank => true} %>
			</li>
			<% end
			 if(@MasterQuestions[5]) %>
			<li>
				The laser cutters are ONLY available from 8:00 AM to Midnight, seven days a week.  <%= f.select :question6, [true, false], {:include_blank => true} %>
			</li>
			<% end
			 if(@MasterQuestions[6]) %>
			<li>
				I am permitted to still use the laser cutter if the ventilation system is not operating.  However, I should notify the DM office afterward.  <%= f.select :question7, [true, false], {:include_blank => true} %>
			</li>
			<% end
			 if(@MasterQuestions[7]) %>
			<li>
				Hand-cutting of material is permitted on top of the laser cutter.  <%= f.select :question8, [true, false], {:include_blank => true} %>
			</li>
			<% end
			 if(@MasterQuestions[8]) %>
			<li>
				I cannot cut MDF, Plywood, or OSB materials on the Industrial laser cutter because it can damage the optics, taking the machine down for extended periods of time.  <%= f.select :question9, [true, false], {:include_blank => true} %>
			</li>
			<% end
			 if(@MasterQuestions[9]) %>
			<li>
				I can cut any type of plastic in the laser cutters as long as I leave the lid closed for 2 minutes after cutting to get rid of fumes.  <%= f.select :question10, [true, false], {:include_blank => true} %>
			</li>
			<% end
			 if(@MasterQuestions[10]) %>
			<li>
				The only type of plastic I can cut on ANY of the laser cutters is Acrylic.  <%= f.select :question11, [true, false], {:include_blank => true} %>
			</li>
			<% end
			 if(@MasterQuestions[11]) %>
			<li>
				It is OK to cut foam core because it is sandwiched between coated paper and thus will not catch on fire.  <%= f.select :question12, [true, false], {:include_blank => true} %>
			</li>
			<% end
			 if(@MasterQuestions[12]) %>
			<li>
				The fire extinguisher cannot be moved, tampered with, or used as door stops.  <%= f.select :question13, [true, false], {:include_blank => true} %>
			</li>
			<% end
			 if(@MasterQuestions[13]) %>
			<li>
				It is OK to leave the laser cutter room while the laser is running for a short period of time  <%= f.select :question14, [true, false], {:include_blank => true} %>
			</li>
			<% end
			 if(@MasterQuestions[14]) %>
			<li>
				It is safe to use the laser cutter if the Plexiglas screen is cracked or missing.  <%= f.select :question15, [true, false], {:include_blank => true} %>
			</li>
			<% end %>		
		</ol>
	</fieldset>
	<fieldset>
		<legend>Terms and Conditions</legend>
		<p>
			Please review the following terms of use for the laser cutters.  <strong>Failure to follow these rules WILL result in Disciplinary Action, including possible loss of access.</strong>.
		</p>
		<ul>
			<li>		
				I understand that Per the Yale Fire Marshall's Office, the laser cutter operating hours are between 8:00AM and 12:00AM, and that using the cutters outside of these hours are prohibited.
				<br /><br />
				<strong>Note:</strong> The operational hours for the Industrial Laser cutter are: <br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saturdays to Thursdays: 9:00am - 12:00pm, 1:00pm - 5:00pm, 6:00pm - 11:00pm<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fridays: 9:00am - 12:00pm<br /><br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>Additional hours are available between 8am and midnight, 7 days a week, provided a Shop Monitor is available and willing to turn on power and can stay during the entire cutting session. Under no conditions may any Laser Cutters be used between Midnight and 8am.</em>
			</li>
			<li>		
				I understand that there is a <strong>high risk of fire</strong> when using the laser cutters, and I WILL NOT leave the machine unattended while cutting.
			</li>
			<li>
				I understand that a list of approved materials is posted next to each Laser Cutter, and I will not use the laser cutter to cut prohibited materials. If I have questions about whether a material is suitable for use in a laser cutter, I will ask the Digital Media Office before cutting.
			</li>
			<li>
				I understand that guidelines for laser cutter use are posted in every laser cutter room.  I will review these guidelines before doing any laser cutting.
			</li>
			<li>
				I will not sit, lean, or hand-cut on top of the laser cutters, as this can damage the plexiglass view screen; I understand that doing so will make me liable for the cost of repairing any damage I cause.  I understand that a cutting table has been provided in each laser cutter room for hand-cutting use.   
			</li>
			<li>
				I will notify the Digital Media office if I find or cause damage to the laser cutters, and will not use a cutter if it has visible damage, such as cracks or holes in the plexiglass view screen.
			<li>
				I understand that there is a fire extinguisher located right outside each laser cutter room and will use the extinguisher if needed.  I will notify the Digital Media office immediately if there is an incident which requires use of the fire extinguisher.
			</li>
			<li>
				I understand that I am responsible for the charges for all laser cutter jobs sent under my printing account, including charges for jobs done on a machine that I left logged in with my credentials or those done by another person to whom I have given my credentials.
			</li>
			<li>
				I understand that the laser cutters can be reserved online for a maximum of ONE hour per day per laser cutter, for a maximum of two consecutive days at a time; and that any violation of this policy may result in the deletion of any offending reservations and loss of my access to the reservation system.
			</li>
			<li>
				I understand that I have only 30 calendar days to request any printing reimbursements. After 30 calendar days all printing charges are final and will be billed to my Yale Bursar Account. 
			</li>
		</ul>
	</fieldset>
	<fieldset>
		<legend>Agree and Submit</legend>
		<p>
			<%= f.select :laser_agree, [['Agree', true], ['Do Not Agree', false]], {:include_blank => true}  %>
			Select "Agree" to acknowledge that you agree to these terms and conditions, then click <strong>Submit</strong>.
		</p>
		<p>
    		<%= f.submit 'Submit Registration' %>
  		</p>
  	</fieldset>
<% end %>
<div class = "divider"></div>
</div>