<h1>Equipment Agreement for <%=h @user.name %></h1>
<p>
  <b>Equip agree:</b>
  <%=h @equip_agreement.equip_agree %>
</p>

<p>
  <b>Semester:</b>
  <%=h @equip_agreement.semester %>
</p>

<p>
  <b>Equip agree date:</b>
  <%=h @equip_agreement.equip_agree_date %>
</p>

<p>
  <b>Semester:</b>
  <%=h @equip_agreement.semester %>
</p>

<%= link_to 'Back', @user %>