<div id = "results">
	
<div class="pagination">
	<%= will_paginate @submissions, :class => 'pagination ajax' %>
</div>
<div id = "user-view">
<% @submissions.each do |submission| %>
	<% if !submission.parent_id %>
	<div class = "editblock">
		<fieldset>
			<legend>
				<% if submission.owner == nil %>
					DELETED USER
				<% else%>
					<%= link_to "#{submission.owner.name}", submission.owner %>
				<% end %>
			</legend>
				<% if File.exist?("public/images/students/#{submission.owner.netid}.jpg") %>
					<% if current_user && current_user.role == "faculty" || current_user.simplerole == "staff" || current_user == owner %>
						<%= image_tag "/images/students/#{submission.owner.netid}.jpg", :class => 'list-image' %>
					<% else %>
						<%= image_tag "/images/students/placeholder.jpg", :class => 'list-image' %>
					<% end %>
				<% else %>
					<%= image_tag "/images/students/placeholder.jpg", :class => 'list-image' %>
				<% end %>
			<p>
				<b>Netid:</b> <%=h submission.owner.netid %><br />
				<b>Email:</b> <%=h submission.owner.email %><br />
				<b>Class year:</b> <%=h submission.owner.class_year %><br />
				<b>Program:</b> <%=h submission.owner.program %><br />
			</p>
		</fieldset>
	</div>
	<div class = "editblock">
		<fieldset>
			<p>
				<%= link_to image_tag(submission.portfolio.url(:small)), submission.portfolio.url(:original), :target => "_blank"  %>
			</p>
			<div class = "smallertext">
				Submitted to the <b><%=h submission.collection %></b> collection<br />
				Submitted on <b><%=h submission.created_at.strftime('%m/%d/%Y at %I:%M%p') %></b><br />
			</div>
  			<p>
  				<%= link_to 'Details', submission %>
				<% if permitted_to? :edit, @submission %>	
				| <%= link_to 'Edit', edit_submission_path(submission) %>
				<%end %>
				<% if permitted_to? :destroy, @submission %>	 
				| <%= link_to 'Destroy', submission, :confirm => 'Are you sure?', :method => :delete %>
				<% end %>
				<br />
			</p>
		</fieldset>
	</div>
	<div class = "clear">
	</div>
	<br />
	<% end %>
<% end %>
</div>

<div class="pagination">
	<%= will_paginate @submissions, :class => 'pagination ajax' %>
</div>

</div>