<% page_title "Workstation Registration" %>  

<div id = "student-form">

<% form_for([@user, @workstation]) do |f| %>
	<% if @workstation.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@workstation.errors.count, "error") %> prohibited you from registering:</h2>
			<ul>
				<% @workstation.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>		
	<p>
		Please complete and submit this form to register the workstation at your desk.  <strong>If you don't register, you will not be able to log in after the cutoff date</strong>.
	</p> 
	<p>
		Mandatory fields are marked with a <%= image_tag("/images/required_star.gif", :alt => "required") %>.
	</p>
	<div class = "divider"></div>
	<fieldset>
		<legend>Workstation Information</legend>
		<p>
			<%= f.label :floor %>: <%= f.select :floor, [4, 5, 6, 7] , {:include_blank => true} %>
			<%= image_tag("/images/required_star.gif", :alt => "required") %><br />
			<%= f.label :cpu_number %>: Arch-PC-<%= f.text_field :cpu_number, :size => 4 %>
			<%= image_tag("/images/required_star.gif", :alt => "required") %><br />
			<%= f.label :monitor_number %>: <%= f.text_field :monitor_number, :size => 8 %>
			<%= image_tag("/images/required_star.gif", :alt => "required") %><br />
			<%= f.label :arm_number %> (if you have one): <%= f.text_field :arm_number, :size => 8 %><br />
		</p>
	</fieldset>
	<fieldset>
		<legend>Workstation Damage</legend>
		<p>
			Please document any existing <strong>CPU</strong> damage, if present. Failure to document damage may result in you being held responsible 
			for the damage.  If damage is severe, please see a DM staff member.
		</p>
		<%= f.text_area :cpu_damage, :cols => 60, :rows => 4 %><br />
		<br />
		<p>
			Please document any existing <strong>monitor</strong> damage, if present. Failure to document damage may result in you being held 
			responsible for the damage. If damage is severe, please see a DM staff member.
		</p>
		<%= f.text_area :monitor_damage, :cols => 60, :rows => 4 %><br />
		<br />
		<p>
			Please document any existing <strong>monitor arm</strong> damage, if present. Failure to document damage may result in you being held 
			responsible for the damage. If damage is severe, please see a DM staff member.
		</p>	
		<%= f.text_area :arm_damage, :cols => 60, :rows => 4 %><br />
		<br />
	</fieldset>
	<fieldset>
		<legend>Terms and Conditions</legend>
		<p>
			By submitting this form, you are agreeing to the terms and conditions for using this equipment. If you do not agree to these conditions, please notify a DM staff member to have the machine removed from your desk.
		</p>
		<ul>
		  	<li>I understand that I am responsible for any damage that may occur to this equipment. I will be responsible for the repair or replacement costs, whichever is lower, while this equipment is registered to me.</li> 
			<li>I understand that the DM Staff will not diagnose individual problems.  Instead the DM Staff will format the entire machine and reinstall the system.  Furthermore, the DM staff will periodically make both local and remote changes to the system without prior notification. The DM staff will not be responsible for any data lost during these processes. </li>
		  	<li>In the event that a component should fail in the system, the component will be replaced as soon as possible at no cost to you. However, a replacement system or component <B>WILL NOT</B> be provided while the original system is being repaired. </li>
		  	<li>I understand that this system is not mine. Anyone can log into this system and use it. I also understand that saving files on the local Scratch Drive is open to the public and not backed up. I am responsible for backing up data stored locally on this system.
			</li> 
		  	<li>I understand that I <B>will not</B> attach anything, such as stickers, to the CPU, monitor arm, monitor, mouse, or security cables, except for electronic cables that are connected to the USB, Fire wire, Ethernet, Card Reader, printer, serial, video, or audio ports on the CPU. I will not attach any equipment to the security cables or attach additional locks to the system. The DM staff will remove any attached locks or devices. </li>
		  	<li>I understand that I am only allowed to install applications that have been acquired by me in a fully legal way and that adheres to DNO's (Data Network Operations) standard university wide policy detailed <%= link_to "here (pdf link)", "http://www.yale.edu/ppdev/policy/1607/1607.pdf", :popup => true %>. I understand that if I violate these policies, my actions will be reported to the Dean's Office for disciplinary action. If I am uncertain that an application, activity, or file is appropriate, I will see a DM staff member BEFORE proceeding. Examples of programs that students are not allowed to install, store, or run on a school workstation are: P2P applications such as Limewire, Kazaa, or any other torrenting software or web service; network scanners; any pirated and/or cracked software; and software key generators. In addition, students are not allowed to install, run, view, or store any illegal files or software. This includes but is not limited to: cracked software; pirated software; and movies, songs, and games that were not legally acquired by the user. </LI>
		</ul>
	</fieldset>
	<fieldset>
		<legend>Review and Submit</legend>
		<p>Once you have entered your information and reviewed the terms and conditions, click <strong>Submit</strong> to register your workstation.</p>
		<div class= 'buttons' >
		<%= f.submit 'Submit Registration'  %>
		</div>
	</fieldset>
<% end %>
<div class = "divider"></div>
</div>
