<div id = 'item-list'>
<h1>Print Agreements for <%=h @user.name %></h1>

<% if @user.print_agreements.count > 0 %>
	<table>
		<tbody>
  			<tr>
    			<th>Print agree</th>
				<th>Semester</th>
    			<th>Print agree date</th>
  			</tr>
		</tbody>
	<% for print_agreement in @print_agreements %>
		<tbody>
			<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    			<td><%=h print_agreement.print_agree %></td>
    			<td><%=h print_agreement.semester %></td>
    			<td><%=h print_agreement.print_agree_date %></td>
    			<td><%= link_to 'Destroy', [@user, print_agreement], :confirm => 'Are you sure?', :method => :delete %></td>
  			</tr>
		</tbody>
	<% end %>
	</table>

<% else %>
	<p><%=h @user.first_name %> hasn't registered for printing.</p>
<% end %>

<p>
<%= link_to 'New agreement', new_user_print_agreement_path(@user) %> |
<%= link_to 'Back', @user %>
</p>
</div>