<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  	<title>YSOA Equipment Checkout: <%= controller.action_name %></title>
  	<%= stylesheet_link_tag 'application', 'products', 'grid',  :media => "all" %>
	<%= javascript_include_tag "jquery.min.js","jquery_ujs.js","jquery-ui.js","application.js" %> 	
	<%= csrf_meta_tag %> <!-- Returns a meta tag with the cross-site request forgery protection token for forms to use -->
</head>

<body>
<div class= "container container_12">
	<div class="grid_2">
		<div id = "headerlogo">
			<img src="/images/yale_arch_bluegray.gif" >
		</div>				
	</div>
	<div class="grid_8">
		<div id="banner">
			<%= @page_title || "Yale School of Architecture - Equipment Checkout" %>
		</div>
	</div>
	<div class="grid_2">
		<% if current_user %>	
			<div class="login_window">
				Logged in as <strong><%=h session[:cas_user] %></strong><br />
				<%= link_to 'My Registration Page', user_path(current_user) %><br />
				<% if permitted_to? :edit, @user %>			
					<%= link_to 'Edit My User', edit_user_path(current_user) %><br />
				<% end %>
				<%= link_to "Log Out", logout_path, :confirm => "Are you sure you want to logout?"  %>
			</div>
		<% end %>
	</div>
	<div class = 'clear'></div>
	<% if permitted_to? :edit, @workstation %>
	<div class = 'grid_12'> 
		<div id = "topmenu">
			<%= render 'layouts/navbar' %>
		</div>
	</div>
	<div class = 'clear'></div>
	<% end%>					 
	<div class="grid_10"> 
		<div id="main">
			<% if flash[:notice] %> 
				<div id="notice"><%= flash[:notice] %></div>
			<% end %>
			<%= yield :layout %>
		</div> 
	</div>	
	<div class="grid_2"> 
		<div id="columns">
			<div id="side">
				<div class="side_search">
					<% form_for :search, @search, :html => {:method => :get}  do |f| %>
						<%= f.text_field :name_contains, :size => 15 %>						
						<%= f.submit "Find Equipment" %>
					<% end %>
				</div>
				<% if permitted_to? :create, @product %>			
					<div class = "side_legend">
						<%= link_to 'Add Equipment', new_product_path %><br />		
					</div>
				<% end %>
				<div class="side_legend">
					<p><u>LEGEND</u></p>
					<p><%= image_tag("/images/green.gif") %> - Available</p>
					<p><%= image_tag("/images/blue.gif") %> - Out</p>
					<p><%= image_tag("/images/red.gif") %> - Late!</p>
				</div>
			</div>
		</div>
	</div>
	<div class = 'clear'></div>
	<div class="grid_12">
		<div id = "footer">
			Site maintained by: Digital Media Office, Yale University School of Architecture.  Support contact: patrick.mcmorran at yale.edu
		</div>
	</div>	
</div>
</body> 

</html>

